LANG=en_US.UTF-8
PATH=/usr/local/go/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin
CLUSTER_NAME={{item.name}}-{{uid}}
VIRTUAL_ROUTER_ID={{item.id}}
API_IP={{item.subnet}}.{{item.id}}
GOCACHE=/home/github-runner/runners/{{item.name}}-{{uid}}/data/_temp/
GOMODCACHE=/home/github-runner/runners/{{item.name}}-{{uid}}/data/_temp/
HOME=/home/github-runner
KCLI_CONFIG=/home/github-runner/.kcli/config.yml
